*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/hackday/build.gradle
/hackday/app/build.gradle
/hackday/gradle/
/hackday/local.properties
/hackday/gradle/wrapper/gradle-wrapper.properties
/hackday/app/proguard-rules.pro
/hackday/gradle.properties
/hackday/settings.gradle
